Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "src/"
          - "web/frontend/src/"
    
    patch:
      default:
        target: 80%
        threshold: 2%
    
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  frontend:
    paths:
      - web/frontend/src/
    carryforward: true

ignore:
  - "**/*_test.py"
  - "**/test_*.py"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/mocks/**"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"

fix: Fix header/list regex ordering and wrap <li> in proper containers
  web/frontend/src/components/MarkdownRenderer.tsx
Due: frontend

⚡ Bolt: Optimize MarkdownRenderer with React.memo (#244)
  web/frontend/src/components/MarkdownRenderer.tsx
  web/frontend/src/components/__tests__/MarkdownRenderer.test.tsx
Due: frontend

fix: Remove stale hardcoded HSTS line left over from merge
  web/backend/main.py
Due: none

🛡️ Sentinel: [HIGH] Add HSTS security header (#245)
  .jules/sentinel.md
  web/__init__.py
  web/backend/__init__.py
Due: none

fix: Rename unused variable to _context to satisfy ruff F841
  tests/test_remix_optimization.py
Due: none

⚡ Offload Synchronous File I/O in remix_with_bookmarks to Worker Thread (#249)
  tests/test_remix_optimization.py
  web/backend/main.py
Due: none

Remove deprecated --creativity CLI option test expectations (#252)
  tests/test_temperature_cli_fixes.py
Due: none

fix(pr-253): use asyncio.to_thread in async helper
  src/madspark/core/workflow_orchestrator.py
Due: backend

Refactor async methods in WorkflowOrchestrator (#253)
  src/madspark/core/workflow_orchestrator.py
Due: backend

fix(pr-254): refine pricing fallback and clean tests
  src/madspark/utils/pricing_config.py
  tests/test_pricing_config.py
Due: backend

🧪 Add tests for pricing config and improve error handling (#254)
  src/madspark/utils/pricing_config.py
  tests/test_pricing_config.py
Due: backend

fix(pr-255): use cohesive idea-keyword storage
  src/madspark/utils/novelty_filter.py
Due: backend

⚡ Optimize NoveltyFilter keyword extraction loop (#255)
  src/madspark/utils/novelty_filter.py
Due: backend

fix(pr-256): harden run_madspark shell wrapper
  scripts/run_madspark.sh
Due: none

Fix command injection in scripts/run_madspark.sh (#256)
  scripts/run_madspark.sh
Due: none

fix(pr-257): tighten key feature parsing and test assertions
  src/madspark/utils/json_parsers.py
  tests/test_json_parsers.py
Due: backend

test: improve coverage and robustness of parse_idea_generator_response (#257)
  src/madspark/utils/json_parsers.py
  tests/test_json_parsers.py
Due: backend

fix(pr-258): align edge-case tests with pytest style
  tests/test_validate_evaluation_json_edge_cases.py
Due: none

Add edge case tests for validate_evaluation_json (#258)
  tests/test_validate_evaluation_json_edge_cases.py
Due: none

fix(pr-259): align batch docstrings with router behavior
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
Due: backend

Fix temperature range validation to support 0.0-2.0 (#259)
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/agents/structured_idea_generator.py
  tests/test_temperature_cli_fixes.py
Due: backend

fix(pr-260): patch upload path traversal and test coverage
  tests/test_upload_security.py
  web/backend/main.py
Due: none

fix(pr-260): restore awaited anyio.open_file context
  web/backend/main.py
Due: none

⚡ Optimize save_upload_file with async I/O (#260)
  tests/test_upload_security.py
  tests/test_web_backend_multimodal.py
  web/backend/main.py
Due: none

fix(pr-261): remove sys.path test import hack
  tests/test_duplicate_detector.py
Due: none

⚡ Optimize DuplicateDetector loop performance (#261)
  src/madspark/utils/duplicate_detector.py
  tests/test_duplicate_detector.py
Due: backend

fix(pr-262): parametrize missing-comma parsing tests
  tests/test_batch_json_parsing.py
Due: none

Add comprehensive tests for parse_batch_json_with_fallback utility (#262)
  tests/test_batch_json_parsing.py
Due: none

fix(pr-263): stabilize cache stats tests for CI mode
  tests/test_cache_manager_stats.py
Due: none

Test CacheManager.get_cache_stats (#263)
  tests/test_cache_manager_stats.py
Due: none

fix(pr-264): harden CORS env parsing and tests
  tests/test_cors_security.py
  web/backend/main.py
Due: none

🔒 Configure CORS origins via environment variable (#264)
  .env.example
  tests/test_cors_security.py
  web/backend/main.py
Due: none

fix(pr-265): harden error handling and tighten security tests
  tests/test_security_error_handling.py
  tests/test_web_api_fixes.py
  web/backend/main.py
Due: none

fix(pr-265): minimize user-visible error metadata
  web/backend/main.py
Due: none

fix(security): prevent sensitive info disclosure in error responses (#265)
  tests/test_security_error_handling.py
  tests/test_web_api_fixes.py
  web/backend/main.py
Due: none
