Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: remove unused os imports after DRY refactoring
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
Due: backend

fix: ensure router path respects use_structured_output flag
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  tests/test_advocate_router.py
  tests/test_batch_logical_inference_async.py
Due: backend

docs: document router import pattern as intentional design
  src/madspark/llm/utils.py
Due: backend

test: add failing tests for router batch operations and default behavior
  tests/test_llm_router_batch.py
Due: none

feat: add router batch operations and Ollama-first default behavior
  src/madspark/llm/router.py
  src/madspark/llm/utils.py
  tests/test_llm_router_batch.py
Due: backend

test: add conftest for router test configuration and update router tests
  pytest.ini
  tests/conftest.py
  tests/test_advocate_router.py
Due: none

feat: add LLM router endpoints and request/response models to backend API
  web/backend/main.py
Due: none

feat: integrate LLM router config into generate_ideas endpoint
  web/backend/main.py
Due: none

test: add backend API tests for LLM router integration
  tests/test_backend_llm_integration.py
Due: none

feat: add LLM provider selection and metrics display to frontend
  web/frontend/src/App.tsx
  web/frontend/src/components/IdeaGenerationForm.tsx
  web/frontend/src/components/LLMMetricsDisplay.tsx
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/index.ts
Due: frontend

feat: add Ollama service and LLM cache to Docker Compose
  web/docker-compose.yml
Due: none

feat: add --no-router CLI flag to disable LLM router
  src/madspark/cli/cli.py
Due: backend

test: add comprehensive router integration tests
  tests/test_router_integration.py
Due: none

docs: update documentation to reflect full LLM router integration
  CLAUDE.md
  README.md
Due: none

fix: correct integration test imports for router module
  tests/test_router_integration.py
Due: none

fix: correct CI test failures for router default-on behavior
  tests/test_backend_llm_integration.py
  tests/test_idea_generator_router.py
  tests/test_llm_router_batch.py
  tests/test_router_integration.py
Due: none

fix: update router tests for opt-out default behavior and correct API signatures
  tests/test_backend_llm_integration.py
  tests/test_critic_router.py
  tests/test_router_integration.py
  tests/test_skeptic_router.py
Due: none

fix: address review issues for router integration (5 of 10)
  src/madspark/llm/router.py
  web/backend/main.py
Due: backend

fix: address review feedback items 6-10
  src/madspark/llm/router.py
  web/backend/main.py
  web/frontend/src/components/LLMMetricsDisplay.tsx
  web/frontend/src/types/api.types.ts
Due: backend, frontend

fix: remove Optional from Literal fields with defaults
  web/backend/main.py
Due: none

fix: remove invalid multimodal_files access in async endpoint
  web/backend/main.py
Due: none

chore: address reviewer feedback (docker pinning, CLI messages)
  src/madspark/cli/cli.py
  web/docker-compose.yml
Due: backend

test: update CLI test to match new router status message
  tests/test_cli_llm_provider.py
Due: none

fix: add missing fallback_triggers field to LLMMetrics
  web/backend/main.py
Due: none

fix: address critical reviewer feedback
  src/madspark/llm/router.py
  tests/test_llm_router.py
  web/backend/main.py
  web/docker-compose.yml
Due: backend

fix: correct Docker Compose depends_on syntax
  web/docker-compose.yml
Due: none

fix: use ollama CLI for healthcheck instead of curl
  web/docker-compose.yml
Due: none

fix: add SSRF validation to async multimodal URLs
  web/backend/main.py
Due: none

feat: quality tier now prefers Gemini provider
  src/madspark/llm/router.py
  tests/test_cli_llm_provider.py
Due: backend

fix: improve LLM metrics display formatting
  web/frontend/src/components/LLMMetricsDisplay.tsx
Due: frontend

fix: add missing MultiModalInput import in async endpoint
  web/backend/main.py
Due: none

feat: enhance router security and validation
  src/madspark/llm/router.py
  tests/test_llm_router.py
Due: backend

docs: update session handover with PR #206 completion
  session_handover.md
Due: none

feat: Full LLM Router integration with Ollama-first default behavior (#206)
  CLAUDE.md
  README.md
  pytest.ini
  session_handover.md
  src/madspark/cli/cli.py
  src/madspark/llm/router.py
  src/madspark/llm/utils.py
  tests/conftest.py
  tests/test_advocate_router.py
  tests/test_backend_llm_integration.py
  tests/test_cli_llm_provider.py
  tests/test_critic_router.py
  tests/test_idea_generator_router.py
  tests/test_llm_router.py
  tests/test_llm_router_batch.py
  tests/test_router_integration.py
  tests/test_skeptic_router.py
  web/backend/main.py
  web/docker-compose.yml
  web/frontend/src/App.tsx
  web/frontend/src/components/IdeaGenerationForm.tsx
  web/frontend/src/components/LLMMetricsDisplay.tsx
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/index.ts
Due: backend, frontend

docs: mark PR #206 as merged
  session_handover.md
Due: none

refactor: organize root directory structure
  CLAUDE.md
  README.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/PHASE2_COMPLETION_SUMMARY.md
  docs/archive/refactoring_plan_20251106.md
  scripts/madspark-background.sh
  scripts/madspark-direct.sh
  scripts/setup.sh
  session_handover.md
  tests/integration/test_real_api.py
Due: none

fix: update test files to use new setup.sh path in scripts/
  tests/test_config_command.py
  tests/test_setup_enhancements.py
Due: none

fix: change project root detection from setup.sh to README.md/run.py
  src/madspark/bin/mad_spark
  src/madspark/bin/mad_spark_config
Due: backend

docs: fix README.md formatting and setup.sh path
  README.md
Due: none

docs: improve documentation cross-references
  CLAUDE.md
  session_handover.md
Due: none

Path conditions:
  backend: any of: src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
  frontend: any of: web/frontend/src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
