Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Increase timeouts for Ollama complex operations
  src/madspark/config/execution_constants.py
  src/madspark/llm/config.py
  src/madspark/llm/providers/ollama.py
Due: backend

fix: Address PR review feedback
  src/madspark/llm/config.py
  tests/test_llm_providers.py
  web/backend/requirements.txt
Due: backend

fix: Increase timeouts for Ollama complex operations (#234)
  src/madspark/config/execution_constants.py
  src/madspark/llm/config.py
  src/madspark/llm/providers/ollama.py
  tests/test_llm_providers.py
  web/backend/requirements.txt
Due: backend

fix: Dynamic timeout calculation and proper task cancellation
  src/madspark/cli/cli.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/workflow_config.py
  tests/test_timeout_functionality.py
  tests/test_workflow_config.py
Due: backend

fix: Address PR review feedback - use constants for timeouts
  src/madspark/config/execution_constants.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/workflow_config.py
  tests/test_timeout_functionality.py
Due: backend

fix: Address PR review feedback for timeout handling
  .gemini/tmp/pr_232/diff.patch
  .gemini/tmp/pr_232/issue_comments.json
  .gemini/tmp/pr_232/pull_comments.json
  .gemini/tmp/pr_232/reviews.json
  src/madspark/config/execution_constants.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/workflow_config.py
  tests/test_timeout_functionality.py
  tests/test_workflow_config.py
Due: backend

chore: Remove accidentally committed .gemini/tmp files
  .gemini/tmp/pr_232/diff.patch
  .gemini/tmp/pr_232/issue_comments.json
  .gemini/tmp/pr_232/pull_comments.json
  .gemini/tmp/pr_232/reviews.json
Due: none

fix: Dynamic timeout calculation and proper task cancellation (#235)
  src/madspark/cli/cli.py
  src/madspark/config/execution_constants.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/workflow_config.py
  tests/test_timeout_functionality.py
  tests/test_workflow_config.py
Due: backend

docs: session handover 2025-12-23
  session_handover.md
Due: none

docs: session handover 2025-12-23 (#236)
  session_handover.md
Due: none

fix: Respect --no-fallback flag when Ollama is unavailable
  src/madspark/cli/commands/workflow_executor.py
Due: backend

fix: Add socksio for SOCKS proxy support in Claude Code sandbox
  config/requirements.txt
Due: none

refactor: Address PR feedback - DRY, tests, docs
  README.md
  config/requirements.txt
  src/madspark/cli/commands/workflow_executor.py
  tests/test_cli_command_handlers.py
Due: backend

fix: Remove unused import (ruff F401)
  tests/test_cli_command_handlers.py
Due: none

test: Fix tests to work properly in mock mode
  tests/test_cli_command_handlers.py
Due: none

fix: Respect --no-fallback flag and add SOCKS proxy support (#238)
  README.md
  config/requirements.txt
  src/madspark/cli/commands/workflow_executor.py
  tests/test_cli_command_handlers.py
Due: backend

Disable Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: address PR #242 review feedback - clean up upload loop and improve tests
  tests/test_upload_security.py
  web/backend/main.py
Due: none

fix: address PR #243 review feedback - improve accessibility and use role-based selectors in tests
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
Due: frontend

fix: address PR #245 review feedback - strengthen HSTS and improve test structure
  tests/test_security_headers.py
  web/__init__.py
  web/backend/__init__.py
  web/backend/main.py
Due: none

fix: Add HSTS preload directive and DRY up security header tests
  tests/test_security_headers.py
  web/backend/main.py
Due: none

refactor: DRY up mock language response block in critic.py
  src/madspark/agents/critic.py
Due: backend

fix: Remove aria-label from drop zone to expose file type restrictions to screen readers
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
Due: frontend

fix: Guard bookmark_system None and improve remix test coverage
  tests/test_remix_optimization.py
  web/backend/main.py
Due: none

fix: Strip '..' sequences from auto-generated output filename slug
  src/madspark/cli/cli.py
Due: backend

fix: Address review feedback for language detection tests
  src/madspark/utils/mock_language_utils.py
  tests/test_mock_language_utils.py
Due: backend

Use actual API token counts in idea evaluation (#247)
  src/madspark/agents/critic.py
  src/madspark/core/workflow_orchestrator.py
  src/madspark/utils/agent_retry_wrappers.py
  tests/test_agents.py
  tests/test_critic_router.py
  tests/test_workflow_orchestrator.py
  tests/test_workflow_orchestrator_enhancements.py
  tools/test_pydantic_critic_real_api.py
Due: backend

fix: address PR #241 review feedback - improve type safety and state management in ResultItem
  web/frontend/src/components/ResultItem.tsx
  web/frontend/src/components/ResultsDisplay.tsx
Due: frontend

🎨 Palette: Make file upload keyboard accessible (#248)
  .Jules/palette.md
  web/frontend/package-lock.json
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
Due: frontend

🧹 Refactor excessive length in create_parser function (#250)
  src/madspark/cli/cli.py
Due: backend

🧪 Add tests for language detection utilities (#251)
  src/madspark/utils/mock_language_utils.py
  tests/test_agents.py
  tests/test_mock_language_utils.py
Due: backend

fix: address PR #243 review feedback - add aria-disabled and revert lockfile noise
  web/frontend/package-lock.json
  web/frontend/src/components/FileUpload.tsx
Due: frontend

fix: address PR #244 review feedback - use role-based selectors in tests
  web/frontend/src/components/__tests__/MarkdownRenderer.test.tsx
Due: none

fix: Make HSTS conditional on HTTPS and opt-in preload
  tests/test_security_headers.py
  web/backend/main.py
Due: none

fix: address PR #241 review feedback - use consistent rounding utility
  web/frontend/src/components/ResultItem.tsx
  web/frontend/src/utils/numberFormat.ts
Due: frontend

fix: address PR #243 review feedback - implement useId for unique IDs and improve accessibility
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
Due: frontend

🛡️ Sentinel: [CRITICAL/HIGH] Add HSTS security header (#246)
  tests/test_security_headers.py
  web/backend/main.py
Due: none

🎨 Palette: Improve file upload keyboard accessibility (#243)
  .Jules/palette.md
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
Due: frontend

fix: Address PR review - useMemo, listitem role, and empty content assertion
  web/frontend/src/components/MarkdownRenderer.tsx
  web/frontend/src/components/__tests__/MarkdownRenderer.test.tsx
Due: frontend

fix: Move renderMarkdown to module scope and add ampersand escaping
  web/frontend/src/components/MarkdownRenderer.tsx
Due: frontend

Path conditions:
  backend: any of: src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
  frontend: any of: web/frontend/src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
