Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: Route all agents through Ollama LLM router (#224)
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/reasoning/engine.py
  src/madspark/core/reasoning/evaluator.py
  src/madspark/core/reasoning/inference.py
  src/madspark/llm/providers/ollama.py
  src/madspark/llm/router.py
  src/madspark/schemas/__init__.py
  src/madspark/schemas/advocacy.py
  src/madspark/schemas/generation.py
  src/madspark/schemas/skepticism.py
  src/madspark/utils/logical_inference_engine.py
Due: backend

fix: Consolidate CLI/Web workflow config and fix batch operations
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/core/workflow_config.py
  tests/test_workflow_config.py
  web/backend/main.py
Due: backend

fix: Route batch operations through Ollama LLM router
  src/madspark/agents/idea_generator.py
  src/madspark/schemas/logical_inference.py
  src/madspark/utils/logical_inference_engine.py
Due: backend

fix: Fix critic evaluation returning only 1 score for batch ideas
  src/madspark/agents/critic.py
  src/madspark/core/workflow_orchestrator.py
  web/frontend/src/api.ts
Due: backend, frontend

fix: Fix CI test failures and linting errors
  tests/test_ai_multidimensional_evaluator.py
  tests/test_cli_logical_inference.py
  tests/test_llm_providers.py
  tests/test_multi_dimensional_batch.py
  tests/test_workflow_config.py
  web/backend/main.py
Due: none

fix: Use specific exceptions instead of broad Exception catch
  src/madspark/agents/idea_generator.py
Due: backend

refactor: Extract score calculation into shared helper method
  src/madspark/core/reasoning/evaluator.py
Due: backend

fix: Add error handling to _should_use_router_local helper
  src/madspark/agents/idea_generator.py
Due: backend

style: Standardize logging to use module-level logger
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
Due: backend

style: Use proper log levels and standardize logging in core modules
  src/madspark/agents/critic.py
  src/madspark/core/workflow_orchestrator.py
Due: backend

refactor: Address PR #225 review feedback
  src/madspark/agents/advocate.py
  src/madspark/agents/skeptic.py
  src/madspark/llm/__init__.py
  src/madspark/llm/utils.py
  src/madspark/schemas/__init__.py
  tests/conftest.py
  web/backend/main.py
Due: backend

fix: Address post-review feedback on PR #225
  src/madspark/agents/idea_generator.py
  src/madspark/llm/providers/ollama.py
  src/madspark/llm/utils.py
  tests/test_ai_multidimensional_evaluator.py
  tests/test_llm_providers.py
  web/backend/main.py
Due: backend

fix: Add noqa comments for E402 in test files
  tests/test_ai_multidimensional_evaluator.py
  tests/test_llm_providers.py
Due: none

fix: Add failed_requests metric and AllProvidersFailedError kwargs
  src/madspark/llm/exceptions.py
  src/madspark/llm/router.py
Due: backend

fix: Fix critic evaluation returning only 1 score for batch ideas (#225)
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/reasoning/engine.py
  src/madspark/core/reasoning/evaluator.py
  src/madspark/core/reasoning/inference.py
  src/madspark/core/workflow_config.py
  src/madspark/core/workflow_orchestrator.py
  src/madspark/llm/__init__.py
  src/madspark/llm/exceptions.py
  src/madspark/llm/providers/ollama.py
  src/madspark/llm/router.py
  src/madspark/llm/utils.py
  src/madspark/schemas/__init__.py
  src/madspark/schemas/advocacy.py
  src/madspark/schemas/generation.py
  src/madspark/schemas/logical_inference.py
  src/madspark/schemas/skepticism.py
  src/madspark/utils/logical_inference_engine.py
  tests/conftest.py
  tests/test_ai_multidimensional_evaluator.py
  tests/test_cli_logical_inference.py
  tests/test_llm_providers.py
  tests/test_multi_dimensional_batch.py
  tests/test_workflow_config.py
  web/backend/main.py
  web/frontend/src/api.ts
Due: backend, frontend

docs: session handover 2025-12-16
  session_handover.md
Due: none

docs: session handover 2025-12-16 (#226)
  session_handover.md
Due: none

Refactor README by removing command aliases section
  README.md
Due: none

Revise README for clarity and feature updates
  README.md
Due: none

Remove deprecated workflow options from CLI
  src/madspark/cli/cli.py
Due: backend

Clarify bookmark functionality in README
  README.md
Due: none

fix(cli): Reorder logical inference before improved idea in output
  src/madspark/cli/cli.py
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/detailed.py
  src/madspark/cli/formatters/simple.py
Due: backend

fix(cli): Address PR feedback for logical inference reordering
  CLAUDE.md
  src/madspark/cli/cli.py
  src/madspark/cli/formatters/detailed.py
  src/madspark/cli/formatters/json_formatter.py
  src/madspark/cli/formatters/summary.py
  tests/test_formatters.py
Due: backend

test: Update test for removed --num-candidates argument
  tests/test_cli_new_options.py
Due: none

fix(cli): Reorder logical inference before improved idea in output (#230)
  CLAUDE.md
  src/madspark/cli/cli.py
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/detailed.py
  src/madspark/cli/formatters/json_formatter.py
  src/madspark/cli/formatters/simple.py
  src/madspark/cli/formatters/summary.py
  tests/test_cli_new_options.py
  tests/test_formatters.py
Due: backend

fix: ensure setup scripts install web backend dependencies (#229)
  scripts/setup.sh
  web/setup.sh
Due: none

fix: address PR review feedback for setup scripts
  scripts/setup.sh
  web/setup.sh
Due: none

test: add automated tests for web backend dependency verification
  scripts/setup.sh
  tests/test_setup_enhancements.py
  web/setup.sh
Due: none

Fix #229: Setup scripts don't install web backend deps (#231)
  scripts/setup.sh
  tests/test_setup_enhancements.py
  web/setup.sh
Due: none

feat: Upgrade to Gemini 3 Flash and refactor model references
  .env.example
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/WEB_INTERFACE_GUIDE.md
  scripts/setup.sh
  src/madspark/bin/mad_spark_config
  src/madspark/core/coordinator_batch.py
  src/madspark/llm/models.py
  src/madspark/llm/providers/gemini.py
  src/madspark/utils/constants.py
  src/madspark/utils/pricing_config.py
  tests/conftest.py
  tests/test_advocate_batch.py
  tests/test_config_command.py
  tests/test_constants.py
  tests/test_critic_router.py
  tests/test_enhanced_reasoning_structured_output.py
  tests/test_evaluation_data_flow.py
  tests/test_execution_constants.py
  tests/test_idea_generator_router.py
  tests/test_idea_improvement_batch.py
  tests/test_language_consistency.py
  tests/test_llm_providers.py
  tests/test_llm_router.py
  tests/test_llm_router_batch.py
  tests/test_logical_inference_structured_output.py
  tests/test_skeptic_batch.py
  tests/test_structured_output.py
  tests/test_structured_output_integration.py
  web/.env.example
  web/README.md
  web/docker-compose.yml
  web/frontend/src/components/IdeaGenerationForm.tsx
Due: backend, frontend

fix: Address PR review feedback for Gemini 3 upgrade
  src/madspark/llm/models.py
  src/madspark/llm/providers/gemini.py
  tests/test_advocate_batch.py
  tests/test_critic_router.py
  tests/test_enhanced_reasoning_structured_output.py
  tests/test_evaluation_data_flow.py
  tests/test_idea_generator_router.py
  tests/test_idea_improvement_batch.py
  tests/test_language_consistency.py
  tests/test_llm_providers.py
  tests/test_llm_router_batch.py
  tests/test_logical_inference_structured_output.py
  tests/test_skeptic_batch.py
  tests/test_structured_output.py
  tests/test_structured_output_integration.py
  web/frontend/src/components/IdeaGenerationForm.tsx
Due: backend, frontend

fix: Skip backend tests that require FastAPI in non-Docker environment
  tests/test_backend_llm_integration.py
Due: none

fix: Mock DNS resolution and provide __file__ for exec() in tests
  tests/test_cli_multimodal.py
  tests/test_config_command.py
Due: none

refactor: Consolidate test constants and document import pattern
  CLAUDE.md
  tests/conftest.py
Due: none

fix: Add noqa comment for intentional re-exports in conftest.py
  tests/conftest.py
Due: none

fix: Update remaining gemini-2.5-flash references to gemini-3-flash-preview
  src/madspark/llm/base.py
  src/madspark/llm/response.py
  src/madspark/schemas/README.md
  tests/test_auto_mock_mode.py
  web/backend/main.py
Due: backend

docs: session handover 2025-12-18
  CLAUDE.md
  session_handover.md
Due: none

fix: address PR #233 review feedback
  CLAUDE.md
Due: none

docs: session handover (#233)
  CLAUDE.md
  session_handover.md
Due: none

Path conditions:
  backend: any of: src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
  frontend: any of: web/frontend/src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
