Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "src/"
          - "web/frontend/src/"
    
    patch:
      default:
        target: 80%
        threshold: 2%
    
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  frontend:
    paths:
      - web/frontend/src/
    carryforward: true

ignore:
  - "**/*_test.py"
  - "**/test_*.py"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/mocks/**"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"

docs: session handover and learnings
  session_handover.md
Due: none

fix: correct markdown heading hierarchy in session_handover.md
  session_handover.md
Due: none

docs: session handover and learnings (#213)
  session_handover.md
Due: none

fix(cli): update outdated router integration message
  src/madspark/cli/cli.py
Due: backend

fix(cli): allow 'test' and other keywords as topics
  run.py
  src/madspark/cli/commands/validation.py
Due: backend

fix(cli): suppress verbose logs in detailed output mode
  src/madspark/cli/cli.py
Due: backend

feat(cli): show enhanced reasoning in brief/simple modes
  src/madspark/cli/formatters/base.py
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/simple.py
Due: backend

fix: resolve TypeError in formatters and update test expectations
  src/madspark/cli/formatters/base.py
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/simple.py
  tests/test_cli_llm_provider.py
Due: backend

fix: address code review feedback - restore test command, fix imports, refactor DRY
  run.py
  src/madspark/cli/cli.py
  src/madspark/cli/commands/validation.py
  src/madspark/cli/formatters/base.py
Due: backend

fix: remove unnecessary f-string prefix (ruff lint)
  src/madspark/cli/commands/validation.py
Due: backend

fix: address claude code review feedback
  run.py
  src/madspark/cli/commands/validation.py
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/simple.py
Due: backend

fix: add json import to formatters for exception handling
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/simple.py
Due: backend

fix: critical improvements to test command and error handling
  run.py
  src/madspark/cli/cli.py
Due: backend

fix(cli): CLI UX improvements from user testing (#214)
  run.py
  src/madspark/cli/cli.py
  src/madspark/cli/commands/validation.py
  src/madspark/cli/formatters/base.py
  src/madspark/cli/formatters/brief.py
  src/madspark/cli/formatters/simple.py
  tests/test_cli_llm_provider.py
Due: backend

fix: resolve FormData/JSON handling for multi-modal requests
  web/backend/main.py
  web/frontend/src/utils/formDataConversion.ts
Due: frontend

feat: add ollama package to backend dependencies
  web/backend/requirements.txt
Due: none

fix: correct score display in multi-dimensional evaluation
  web/frontend/src/components/ResultsDisplay.tsx
Due: frontend

feat: upgrade Ollama to version 0.12.9
  web/docker-compose.yml
Due: none

fix: correct score display in multi-dimensional evaluation (revert incorrect swap)
  web/frontend/src/components/ResultsDisplay.tsx
Due: frontend

feat: add comprehensive Ollama setup and documentation
  web/README.md
  web/docker-compose.yml
  web/setup.sh
Due: none

fix: change default mode to api and clarify setup script roles
  web/README.md
  web/docker-compose.yml
  web/setup.sh
Due: none

docs: simplify README for naive copy-paste experience
  README.md
Due: none

fix: resolve undefined variable and unused import in web backend
  web/backend/main.py
Due: none

fix: return proper FastAPI validation error format
  web/backend/main.py
Due: none

fix: resolve theme→topic migration bugs and error logging
  web/backend/main.py
  web/frontend/src/components/BookmarkManager.tsx
  web/frontend/src/components/DuplicateWarningDialog.tsx
Due: frontend

fix: address gemini-code-assist code review feedback
  web/README.md
  web/docker-compose.yml
  web/setup.sh
Due: none

docs: add 13GB disk space requirement to web interface prerequisites
  README.md
Due: none

fix: address PR reviewer feedback on API schema and backward compatibility
  web/backend/main.py
  web/backend/openapi_enhancements.py
  web/setup.sh
Due: none

fix: address additional reviewer feedback on error handling and documentation
  web/README.md
  web/backend/main.py
  web/docker-compose.yml
  web/frontend/src/utils/formDataConversion.ts
  web/setup.sh
Due: frontend

fix: update TypeScript type definitions for theme→topic migration
  web/frontend/src/types/bookmark.types.ts
  web/frontend/src/utils/formDataConversion.ts
Due: frontend

fix: address critical security and resource management concerns
  web/docker-compose.yml
  web/scripts/pull-models.sh
  web/setup.sh
Due: none

docs: add comprehensive GPU setup, troubleshooting, and cost comparison
  web/README.md
Due: none

fix: address comprehensive PR review feedback
  web/README.md
  web/backend/main.py
  web/docker-compose.yml
  web/frontend/src/utils/formDataConversion.ts
  web/scripts/pull-models.sh
  web/setup.sh
Due: frontend

fix: handle FileNotFoundError in test fixture teardown for parallel execution
  tests/test_web_backend_multimodal.py
Due: none

fix: address TypeScript type inconsistency and setup.sh resource exhaustion
  web/frontend/src/services/bookmarkService.ts
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/bookmark.types.ts
  web/frontend/src/types/index.ts
  web/frontend/src/utils/formDataConversion.ts
  web/setup.sh
Due: frontend

feat: improve pull-models.sh error handling and add GPU callout to README
  web/README.md
  web/scripts/pull-models.sh
Due: none

docs: add comprehensive MADSPARK_NO_ROUTER documentation to web README
  web/README.md
Due: none

fix: correct model validation to check actual exit code
  web/scripts/pull-models.sh
Due: none

fix: improve test fixture cleanup race condition handling
  tests/test_web_backend_multimodal.py
Due: none

feat: Web interface Ollama integration and setup improvements (#215)
  README.md
  tests/test_web_backend_multimodal.py
  web/README.md
  web/backend/main.py
  web/backend/openapi_enhancements.py
  web/backend/requirements.txt
  web/docker-compose.yml
  web/frontend/src/components/BookmarkManager.tsx
  web/frontend/src/components/DuplicateWarningDialog.tsx
  web/frontend/src/components/ResultsDisplay.tsx
  web/frontend/src/services/bookmarkService.ts
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/bookmark.types.ts
  web/frontend/src/types/index.ts
  web/frontend/src/utils/formDataConversion.ts
  web/scripts/pull-models.sh
  web/setup.sh
Due: frontend
