Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "src/"
          - "web/frontend/src/"
    
    patch:
      default:
        target: 80%
        threshold: 2%
    
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  frontend:
    paths:
      - web/frontend/src/
    carryforward: true

ignore:
  - "**/*_test.py"
  - "**/test_*.py"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/mocks/**"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"

docs: session handover for PR #215 and #216
  session_handover.md
Due: none

fix: correct markdown heading hierarchy in session learnings
  session_handover.md
Due: none

docs: session handover for PR #215 and #216 (#218)
  session_handover.md
Due: none

fix: centralize model definitions and improve CLI startup messages
  .env.example
  CLAUDE.md
  README.md
  output/.DS_Store
  run.py
  src/madspark/cli/cli.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/llm/__init__.py
  src/madspark/llm/config.py
  src/madspark/llm/models.py
  src/madspark/utils/constants.py
  tests/test_llm_providers.py
  web/README.md
Due: backend

test: fix tests for default top_ideas=3 and async execution
  tests/test_cli.py
  tests/test_cli_integration.py
  tests/test_cli_new_options.py
  tests/test_temperature_cli_fixes.py
  tests/test_thread_safety_phase1.py
  tests/test_timeout_functionality.py
Due: none

test: add --top-ideas 1 to more integration tests
  tests/test_logical_inference_integration.py
  tests/test_option_combinations.py
Due: none

refactor: improve _show_startup_message per reviewer feedback
  src/madspark/cli/commands/workflow_executor.py
Due: backend

fix: address reviewer feedback from claude
  .gitignore
  output/.DS_Store
  src/madspark/cli/commands/base.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/llm/models.py
Due: backend

fix: address additional reviewer feedback
  .gitignore
  data/exports/README.md
  src/madspark/cli/cli.py
  src/madspark/cli/commands/workflow_executor.py
Due: backend

fix: Centralize model definitions and improve CLI startup message (#220)
  .env.example
  .gitignore
  CLAUDE.md
  README.md
  data/exports/README.md
  output/.DS_Store
  run.py
  src/madspark/cli/cli.py
  src/madspark/cli/commands/base.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/llm/__init__.py
  src/madspark/llm/config.py
  src/madspark/llm/models.py
  src/madspark/utils/constants.py
  tests/test_cli.py
  tests/test_cli_integration.py
  tests/test_cli_new_options.py
  tests/test_llm_providers.py
  tests/test_logical_inference_integration.py
  tests/test_option_combinations.py
  tests/test_temperature_cli_fixes.py
  tests/test_thread_safety_phase1.py
  tests/test_timeout_functionality.py
  web/README.md
Due: backend

refactor: Feed evaluations into improvement step (#219)
  src/madspark/agents/idea_generator.py
  src/madspark/agents/prompts.py
  src/madspark/cli/formatters/summary.py
  src/madspark/core/workflow_orchestrator.py
  tests/test_evaluation_data_flow.py
Due: backend

refactor: Standardize CLI arguments to use topic/context (#219)
  config/requirements.txt
  pytest.ini
  src/madspark/cli/cli.py
  src/madspark/cli/commands/bookmark_handler.py
  src/madspark/cli/commands/validation.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/cli/interactive_mode.py
  src/madspark/utils/export_utils.py
  tests/test_cli_command_handlers.py
  tests/test_cli_flags_integration.py
  tests/test_cli_multimodal.py
Due: backend

fix: Resolve CI failures - unused imports and missing args
  tests/test_evaluation_data_flow.py
  tests/test_multimodal_security.py
Due: none

refactor: Address PR review feedback
  src/madspark/agents/prompts.py
  src/madspark/cli/commands/validation.py
  src/madspark/cli/formatters/summary.py
  tests/test_evaluation_data_flow.py
Due: backend

fix: Address additional PR review feedback
  README.md
  src/madspark/agents/prompts.py
  tests/test_evaluation_data_flow.py
Due: backend

refactor: Rename remix_with_bookmarks params to topic/context
  src/madspark/cli/commands/validation.py
  src/madspark/utils/bookmark_system.py
  tests/test_cli_command_handlers.py
  web/backend/main.py
Due: backend

fix: Address code review feedback for score rendering consistency
  src/madspark/agents/idea_generator.py
  src/madspark/cli/formatters/summary.py
  tests/test_evaluation_data_flow.py
Due: backend

refactor: Feed evaluations into improvement step & standardize CLI arguments (#219) (#221)
  README.md
  config/requirements.txt
  pytest.ini
  src/madspark/agents/idea_generator.py
  src/madspark/agents/prompts.py
  src/madspark/cli/cli.py
  src/madspark/cli/commands/bookmark_handler.py
  src/madspark/cli/commands/validation.py
  src/madspark/cli/commands/workflow_executor.py
  src/madspark/cli/formatters/summary.py
  src/madspark/cli/interactive_mode.py
  src/madspark/core/workflow_orchestrator.py
  src/madspark/utils/bookmark_system.py
  src/madspark/utils/export_utils.py
  tests/test_cli_command_handlers.py
  tests/test_cli_flags_integration.py
  tests/test_cli_multimodal.py
  tests/test_evaluation_data_flow.py
  tests/test_multimodal_security.py
  web/backend/main.py
Due: backend

docs: session handover 2025-12-07
  session_handover.md
Due: none

docs: session handover 2025-12-07 (#222)
  session_handover.md
Due: none

fix: Make web/setup.sh disk space check work on macOS
  web/setup.sh
Due: none

fix: Skip model download when Ollama models already exist
  web/docker-compose.yml
  web/setup.sh
Due: none

fix: Correct decorator placement for /api/generate-ideas endpoint
  web/backend/main.py
Due: none

fix: Improve web interface reliability for Ollama-first mode
  src/madspark/agents/idea_generator.py
  src/madspark/config/execution_constants.py
  web/backend/requirements.txt
  web/docker-compose.yml
Due: backend

fix: Increase timeouts and improve Ollama model pull resilience
  src/madspark/config/execution_constants.py
  src/madspark/utils/constants.py
  web/scripts/pull-models.sh
Due: backend

feat: Configure web interface to use native host Ollama
  web/docker-compose.yml
Due: none

fix: Use non-quantized gemma3 models for reliable JSON output
  .env.example
  CLAUDE.md
  README.md
  src/madspark/llm/base.py
  src/madspark/llm/models.py
  src/madspark/llm/providers/ollama.py
  src/madspark/llm/response.py
  tests/test_llm_providers.py
  web/README.md
  web/docker-compose.yml
  web/scripts/pull-models.sh
  web/setup.sh
Due: backend

fix: Make env_file optional in docker-compose.yml for CI
  web/docker-compose.yml
Due: none

fix: Address PR review feedback
  .env.example
  README.md
  web/README.md
  web/docker-compose.yml
  web/setup.sh
Due: none

fix: Address additional PR review feedback
  src/madspark/agents/idea_generator.py
  src/madspark/config/execution_constants.py
  web/README.md
  web/scripts/pull-models.sh
Due: backend

fix: Address third round of PR review feedback
  src/madspark/agents/idea_generator.py
  src/madspark/config/execution_constants.py
  src/madspark/utils/constants.py
  web/docker-compose.yml
  web/scripts/pull-models.sh
  web/setup.sh
Due: backend

fix: Address CI review feedback
  web/scripts/pull-models.sh
  web/setup.sh
Due: none

fix: Major web setup and configuration improvements
  .github/workflows/ci.yml
  web/backend/main.py
  web/docker-compose.yml
  web/setup.sh
Due: none

fix: Add fixture to create stub .env for docker compose tests
  tests/test_system_integration.py
Due: none

fix: Address security and robustness issues in setup.sh
  web/setup.sh
Due: none

fix: Address additional security and documentation concerns
  src/madspark/agents/idea_generator.py
  src/madspark/config/execution_constants.py
  web/setup.sh
Due: backend

fix: Improve Ollama schema compatibility and align frontend field names
  src/madspark/llm/providers/ollama.py
  web/frontend/src/App.tsx
  web/frontend/src/components/IdeaGenerationForm.tsx
  web/frontend/src/components/ResultsDisplay.tsx
  web/frontend/src/services/bookmarkService.ts
  web/frontend/src/types/__tests__/multimodal.types.test.ts
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/bookmark.types.ts
  web/frontend/src/types/index.ts
  web/frontend/src/utils/__tests__/bookmarkHelpers.test.ts
  web/frontend/src/utils/__tests__/formDataConversion.test.ts
  web/frontend/src/utils/__tests__/frontendUtilities.test.ts
  web/frontend/src/utils/__tests__/utilities.test.ts
  web/frontend/src/utils/bookmarkHelpers.ts
  web/frontend/src/utils/formDataConversion.ts
Due: backend, frontend

fix: Address PR review feedback on security and robustness
  web/backend/main.py
  web/scripts/pull-models.sh
  web/setup.sh
Due: none

fix: Update token budget test to match new formula
  tests/test_llm_providers.py
Due: none

fix: Make web/setup.sh disk space check work on macOS (#223)
  .env.example
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  src/madspark/agents/idea_generator.py
  src/madspark/config/execution_constants.py
  src/madspark/llm/base.py
  src/madspark/llm/models.py
  src/madspark/llm/providers/ollama.py
  src/madspark/llm/response.py
  src/madspark/utils/constants.py
  tests/test_llm_providers.py
  tests/test_system_integration.py
  web/README.md
  web/backend/main.py
  web/backend/requirements.txt
  web/docker-compose.yml
  web/frontend/src/App.tsx
  web/frontend/src/components/IdeaGenerationForm.tsx
  web/frontend/src/components/ResultsDisplay.tsx
  web/frontend/src/services/bookmarkService.ts
  web/frontend/src/types/__tests__/multimodal.types.test.ts
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/bookmark.types.ts
  web/frontend/src/types/index.ts
  web/frontend/src/utils/__tests__/bookmarkHelpers.test.ts
  web/frontend/src/utils/__tests__/formDataConversion.test.ts
  web/frontend/src/utils/__tests__/frontendUtilities.test.ts
  web/frontend/src/utils/__tests__/utilities.test.ts
  web/frontend/src/utils/bookmarkHelpers.ts
  web/frontend/src/utils/formDataConversion.ts
  web/scripts/pull-models.sh
  web/setup.sh
Due: backend, frontend
