Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: correct MutableHeaders server removal in security middleware
  web/backend/main.py
Due: none

fix: critical bug - separate GENAI_AVAILABLE and client None conditions
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
Due: backend

fix: keyboard shortcuts modifier key handling inconsistency
  web/frontend/src/hooks/useKeyboardShortcuts.ts
Due: frontend

feat: implement comprehensive CI/CD improvements to prevent failures
  .github/dependabot.yml
  .github/workflows/ci-improved.yml
  .pre-commit-config.yaml
  docs/CI_CD_BEST_PRACTICES.md
  scripts/check_dependencies.sh
  scripts/verify_frontend.sh
  scripts/verify_npm_deps.sh
  scripts/verify_python_deps.sh
  web/backend/main.py
Due: none

feat: update documentation for manual workflows and fix critical ruff issues
  CLAUDE.md
  README.md
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/cli/cli.py
  src/madspark/cli/interactive_mode.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/coordinator.py
  src/madspark/core/enhanced_reasoning.py
  src/madspark/utils/batch_processor.py
  src/madspark/utils/bookmark_system.py
  src/madspark/utils/cache_manager.py
  src/madspark/utils/duplicate_detector.py
  src/madspark/utils/export_utils.py
  src/madspark/utils/novelty_filter.py
  src/madspark/utils/performance_cache.py
  src/madspark/utils/temperature_control.py
  src/madspark/utils/utils.py
  src/madspark/utils/verbose_logger.py
  tests/test_agents.py
  tests/test_backend_utilities.py
  tests/test_cli.py
  tests/test_coordinators.py
  tests/test_integration.py
  tests/test_interactive_eof.py
  tests/test_utils.py
  web/backend/main.py
  web/backend/openapi_enhancements.py
  web/backend/test_openapi.py
Due: backend

fix: resolve ruff linting issues (F401, F841, E712, F403)
  src/madspark/cli/interactive_mode.py
  src/madspark/core/coordinator.py
  tests/test_cli.py
  tests/test_interactive_eof.py
  tests/test_utils.py
Due: backend

fix: resolve test failures and ruff linting issues
  src/madspark/core/coordinator.py
  src/madspark/utils/bookmark_system.py
  src/madspark/utils/cache_manager.py
  src/madspark/utils/export_utils.py
  src/madspark/utils/temperature_control.py
  tests/test_agents.py
  tests/test_backend_utilities.py
  tests/test_basic_imports.py
  tests/test_basic_imports_simple.py
  tests/test_cli.py
  tests/test_coordinators.py
  tests/test_integration.py
  tests/test_utils.py
Due: backend

fix: resolve all Bandit security issues
  src/madspark/core/enhanced_reasoning.py
  src/madspark/utils/duplicate_detector.py
  src/madspark/utils/novelty_filter.py
  src/madspark/utils/performance_cache.py
  web/backend/main.py
  web/backend/test_openapi.py
Due: backend

fix: update docker-compose to docker compose in CI workflow
  .github/workflows/ci-improved.yml
Due: none

fix: remove coverage threshold requirement from CI
  .github/workflows/ci-improved.yml
Due: none

fix: correct health endpoint URL in CI workflows
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci-improved.yml
Due: none

docs: session handover and learnings from PR #101
  README.md
Due: none

docs: session handover and learnings from PR #101 (#104)
  README.md
Due: none

test: add test for docker compose V2 syntax consistency
  tests/test_docker_compose_syntax.py
Due: none

fix: update all docker-compose references to docker compose V2
  .github/workflows/ci-enhanced.yml
  CLAUDE.md
  DEPLOYMENT_GUIDE.md
  PROJECT_STATUS.md
  README.md
  WEB_UI_QUICK_START.md
  docs/WEB_INTERFACE_GUIDE.md
  docs/api/PHASE_2_COMPLETION_SUMMARY.md
  docs/api/PHASE_2_TESTING_GUIDE.md
  scripts/check_dependencies.sh
  scripts/fix_docker_compose_syntax.py
  tests/test_docker_compose_syntax.py
Due: none

chore: add pre-commit hook for docker compose syntax
  .pre-commit-config.yaml
Due: none

test: add comprehensive integration test suite
  tests/test_system_integration.py
Due: none

fix: enable mock mode when API key is not configured
  docs/POST_PR101_ISSUES.md
  src/madspark/agents/advocate.py
  src/madspark/agents/critic.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
Due: backend

docs: update issue tracking with Web API test failures
  docs/POST_PR101_ISSUES.md
Due: none

fix: resolve Web API issues and improve test compatibility
  bookmarks.json
  docs/POST_PR101_ISSUES.md
  scripts/fix_web_api_issues.py
  scripts/fix_web_api_tests.py
  tests/test_bookmark_field_alias_debug.py
  tests/test_system_integration.py
  tests/test_web_api_bookmark_debug.py
  tests/test_web_api_fixes.py
  web/backend/main.py
Due: none

docs: add comprehensive post-PR101 validation summary
  docs/POST_PR101_VALIDATION_SUMMARY.md
  tests/test_bookmark_field_alias_debug.py
  tests/test_web_api_bookmark_debug.py
Due: none

feat: complete post-PR101 validation with comprehensive testing
  docs/POST_PR101_FINAL_VALIDATION.md
  screenshots/madspark_bookmarks_page-2025-07-23T07-31-26-564Z.png
  screenshots/madspark_form_filled-2025-07-23T07-29-33-518Z.png
  screenshots/madspark_home_page-2025-07-23T07-28-37-821Z.png
  screenshots/madspark_results-2025-07-23T07-29-54-163Z.png
  scripts/test_real_api.py
Due: none

feat: implement automated safeguards for PR quality and validation
  .github/pull_request_template.md
  .github/workflows/post-merge-validation.yml
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/post_merge_validation.sh
  scripts/validate_pr.sh
  src/madspark/config/__init__.py
  src/madspark/config/settings.py
Due: backend

refactor: streamline CI/CD workflows and establish test management policy
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci-improved.yml
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  README.md
  docs/ci-policy.md
Due: none

fix: resolve CI workflow issues
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
Due: none

fix: handle missing files and directories in CI
  .github/workflows/ci.yml
Due: none

fix: make CI compatible with main branch codebase
  .github/workflows/ci.yml
Due: none

perf: optimize CI pipeline for 60-70% performance improvement
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Due: none

fix: correct YAML syntax for conditional Python matrix
  .github/workflows/ci.yml
Due: none

fix: adjust PR size limits for CI/infrastructure changes
  .github/workflows/pr-validation.yml
Due: none

fix: ensure single Python version for feature branch pushes
  .github/workflows/ci.yml
Due: none

fix: apply fast test execution for feature branch pushes
  .github/workflows/ci.yml
Due: none

fix: address all PR review comments and security issues
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-validation.yml
  docs/ci-policy.md
Due: none

fix: address cursor[bot] CI pipeline coverage and redundancy issues
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Due: none

fix: prevent test fallback from masking genuine failures
  .github/workflows/ci.yml
Due: none

fix: simplify test exclusion to always use keyword filtering for PRs
  .github/workflows/ci.yml
Due: none

Streamline CI/CD workflows and establish test management policy (#107)
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci-improved.yml
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  README.md
  docs/ci-policy.md
Due: none

Path conditions:
  backend: any of: src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
  frontend: any of: web/frontend/src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
