Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "src/"
          - "web/frontend/src/"
    
    patch:
      default:
        target: 80%
        threshold: 2%
    
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  frontend:
    paths:
      - web/frontend/src/
    carryforward: true

ignore:
  - "**/*_test.py"
  - "**/test_*.py"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/mocks/**"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"

refactor: reorganize documentation and clean up root directory (#114)
  CLAUDE.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/PROJECT_STATUS.md
  docs/SYSTEM_TESTING_REPORT.md
  docs/TESTING_CONTEXT.md
  docs/archive/CI_MIGRATION_GUIDE.md
  docs/guides/DEPLOYMENT_GUIDE.md
  docs/guides/ENHANCED_REASONING_API.md
  docs/guides/WEB_UI_QUICK_START.md
  docs/release-notes/PHASE2_RELEASE_NOTES.md
  docs/release-notes/RELEASE_NOTES.md
  examples/data/bookmarks.json
  examples/data/sample_batch.csv
  run.py
  setup.sh
  src/madspark/cli/cli.py
  src/madspark/utils/bookmark_system.py
  tests/test_edge_cases.py
  tests/test_file_organization.py
  tests/test_mock_vs_api.py
Due: backend

feat: add user-friendly setup and runner scripts
  README.md
Due: none

fix: resolve bookmark creation API mismatch
  .DS_Store
  mad_spark_multiagent/.DS_Store
  mad_spark_multiagent/.env.example
  web/backend/examples/data/bookmarks.json
  web/docker-compose.yml
  web/frontend/src/services/bookmarkService.ts
Due: frontend

fix: add field transformation to createBookmarkWithDuplicateCheck method
  web/frontend/src/services/bookmarkService.ts
Due: frontend

fix: truncate long bookmark fields to stay within backend limits
  web/frontend/src/services/bookmarkService.ts
Due: frontend

fix: truncate idea field in checkForDuplicates method
  web/backend/examples/data/bookmarks.json
  web/frontend/src/services/bookmarkService.ts
Due: frontend

docs: add file verification discipline and TypeScript testing requirements
  CLAUDE.md
  web/frontend/src/services/bookmarkService.ts
Due: frontend

fix: resolve TypeScript errors in bookmarkService
  web/frontend/src/services/bookmarkService.ts
Due: frontend

test: add example bookmarks from successful testing
  web/backend/examples/data/bookmarks.json
Due: none

fix: handle missing .env file in CI docker tests
  tests/test_system_integration.py
  web/docker-compose.yml
Due: none

fix: merge duplicate environment keys in docker-compose.yml
  web/docker-compose.yml
Due: none

fix: remove env_file directive from docker-compose.yml for CI compatibility
  tests/test_system_integration.py
  web/docker-compose.yml
Due: none

fix: address PR review feedback from multiple reviewers
  tests/test_system_integration.py
  web/frontend/src/services/bookmarkService.ts
  web/frontend/src/utils/__tests__/bookmarkHelpers.test.ts
  web/frontend/src/utils/bookmarkHelpers.ts
Due: frontend

fix: restore Docker Compose version field for compatibility
  web/docker-compose.yml
Due: none

fix: address additional cursor[bot] feedback
  web/frontend/src/services/bookmarkService.ts
  web/frontend/src/utils/__tests__/bookmarkHelpers.test.ts
  web/frontend/src/utils/bookmarkHelpers.ts
Due: frontend

fix: handle edge cases in truncation functions
  web/frontend/src/utils/__tests__/bookmarkHelpers.test.ts
  web/frontend/src/utils/bookmarkHelpers.ts
Due: frontend

docs: comprehensive session handover for PR #115
  README.md
Due: none

test: add tests for automatic mock mode detection and UX enhancements
  tests/test_auto_mock_mode.py
  tests/test_mad_spark_command.py
  tests/test_setup_enhancements.py
Due: none

feat: implement automatic mock mode when no API key
  run.py
  src/madspark/agents/genai_client.py
  tests/test_auto_mock_mode.py
Due: backend

feat: enhance setup script and add mad_spark command
  run.py
  setup.sh
  src/madspark/agents/genai_client.py
Due: backend

docs: update documentation for enhanced user experience
  README.md
  docs/MOCK_MODE.md
  src/madspark/bin/mad_spark
Due: backend

docs: add user experience improvements summary
  docs/USER_EXPERIENCE_IMPROVEMENTS.md
Due: none

feat: add user-friendly 'mad_spark config' command
  README.md
  run.py
  setup.sh
  src/madspark/bin/mad_spark_config
  tests/test_config_command.py
Due: backend

fix: handle non-interactive environments in config command
  src/madspark/bin/mad_spark_config
Due: backend

docs: add comprehensive API key configuration guide
  docs/API_KEY_CONFIGURATION.md
  src/madspark/bin/mad_spark_config
Due: backend

docs: clarify API key configuration in README
  README.md
  USER_TEST_REPORT.md
Due: none

fix: consolidate to single root .env file as per PR #115
  COMPLETE_TEST_REPORT.md
  run.py
  setup.sh
  src/madspark/agents/genai_client.py
  src/madspark/bin/mad_spark_config
  src/madspark/core/coordinator.py
Due: backend

perf: optimize API performance to prevent timeouts
  COMPLETE_TEST_REPORT.md
  USER_TEST_REPORT.md
  src/madspark/agents/idea_generator.py
  src/madspark/cli/cli.py
Due: backend

test: add failing tests for CLI output formatting and new options
  tests/test_cli_new_options.py
  tests/test_cli_output_formatting.py
Due: none

feat: implement clean output formatting and new CLI options
  docs/SESSION_IMPROVEMENTS.md
  src/madspark/cli/cli.py
  tests/test_cli_new_options.py
  tests/test_cli_output_formatting.py
Due: backend

fix: resolve UnboundLocalError for os module in CLI
  README.md
  src/madspark/cli/cli.py
Due: backend

feat: implement missing bookmark functionality and test CLI options
  examples/data/bookmarks.json
  src/madspark/cli/cli.py
Due: backend

docs: add known issues section to README
  README.md
Due: none

fix: update PR size validation to support test-heavy PRs
  .github/workflows/pr-validation.yml
  README.md
Due: none

fix: increase extended line limit to 3000 for test-heavy PRs
  .github/workflows/pr-validation.yml
Due: none

fix: address critical PR review issues
  src/madspark/agents/genai_client.py
  src/madspark/cli/cli.py
  tests/test_agents.py
  tests/test_auto_mock_mode.py
  tests/test_cli_new_options.py
  tests/test_cli_output_formatting.py
  tests/test_mad_spark_command.py
Due: backend

fix: address medium priority PR review issues
  run.py
  setup.sh
Due: none

fix: resolve CI test failures - linting and test assertions
  tests/test_auto_mock_mode.py
  tests/test_cli_new_options.py
  tests/test_cli_output_formatting.py
  tests/test_mad_spark_command.py.bak
  tests/test_setup_enhancements.py
Due: none

fix: remove remaining unused imports and variables
  tests/test_mad_spark_command.py
  tests/test_mad_spark_command.py.bak
  tests/test_setup_enhancements.py
Due: none
