Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "src/"
          - "web/frontend/src/"
    
    patch:
      default:
        target: 80%
        threshold: 2%
    
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  frontend:
    paths:
      - web/frontend/src/
    carryforward: true

ignore:
  - "**/*_test.py"
  - "**/test_*.py"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/mocks/**"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"

fix: Update CORS and concurrent tests for TestClient limitations
  tests/test_web_api_fixes.py
Due: none

fix: Adjust test assertions for TestClient limitations
  tests/test_web_api_fixes.py
Due: none

feat: Multi-Modal Web API - Backend Implementation (Phase 2.4)
  config/requirements.txt
  src/madspark/cli/cli.py
  src/madspark/utils/bookmark_system.py
  src/madspark/utils/duplicate_detector.py
  src/madspark/utils/models.py
  tests/test_web_api_fixes.py
  tests/test_web_backend_multimodal.py
  web/backend/main.py
Due: backend

docs: session handover and learnings
  session_handover.md
Due: none

test: add tests for multi-modal type definitions
  web/frontend/src/types/__tests__/multimodal.types.test.ts
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/index.ts
Due: frontend

feat: implement multi-modal validation utilities
  web/frontend/src/utils/__tests__/multimodalValidation.test.ts
  web/frontend/src/utils/multimodalValidation.ts
Due: frontend

feat: implement UrlInput component with comprehensive tests
  web/frontend/src/components/UrlInput.tsx
  web/frontend/src/components/__tests__/UrlInput.test.tsx
Due: frontend

feat: implement FileUpload component with drag-and-drop
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
Due: frontend

feat: implement FormData conversion utilities
  web/frontend/src/utils/__tests__/formDataConversion.test.ts
  web/frontend/src/utils/formDataConversion.ts
Due: frontend

feat: update API integration for multipart/form-data support
  web/frontend/src/api.ts
Due: frontend

feat: integrate multi-modal components into IdeaGenerationForm
  web/frontend/src/components/IdeaGenerationForm.tsx
Due: frontend

docs: update README with multi-modal frontend support
  README.md
Due: none

fix: correct FormData format for FastAPI multimodal endpoint
  web/frontend/src/utils/__tests__/formDataConversion.test.ts
  web/frontend/src/utils/formDataConversion.ts
Due: frontend

fix: address PR review feedback
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/IdeaGenerationForm.tsx
  web/frontend/src/components/UrlInput.tsx
Due: frontend

feat: Multi-Modal Frontend UI (Step 2.5)
  README.md
  web/frontend/src/api.ts
  web/frontend/src/components/FileUpload.tsx
  web/frontend/src/components/IdeaGenerationForm.tsx
  web/frontend/src/components/UrlInput.tsx
  web/frontend/src/components/__tests__/FileUpload.test.tsx
  web/frontend/src/components/__tests__/UrlInput.test.tsx
  web/frontend/src/types/__tests__/multimodal.types.test.ts
  web/frontend/src/types/api.types.ts
  web/frontend/src/types/index.ts
  web/frontend/src/utils/__tests__/formDataConversion.test.ts
  web/frontend/src/utils/__tests__/multimodalValidation.test.ts
  web/frontend/src/utils/formDataConversion.ts
  web/frontend/src/utils/multimodalValidation.ts
Due: frontend

docs: session handover for multi-modal frontend implementation
  docs/sessions/session-2025-11-10-multimodal-frontend.md
Due: none

docs: address PR review feedback for session handover
  docs/sessions/session-2025-11-10-multimodal-frontend.md
Due: none

docs: Session Handover - Multi-Modal Frontend Implementation (PR #197) (#198)
  docs/sessions/session-2025-11-10-multimodal-frontend.md
Due: none

fix: Phase 0 critical runtime improvements
  src/madspark/utils/batch_processor.py
  src/madspark/utils/cache_manager.py
  tests/test_orchestrator_coordinator.py
Due: backend

test: update test to expect BatchProcessingError instead of RuntimeError
  tests/test_batch_processor_event_loop.py
Due: none

fix: use redis-specific exceptions instead of built-in types
  src/madspark/utils/cache_manager.py
Due: backend

fix: prevent AttributeError when redis is not installed (CRITICAL)
  src/madspark/utils/cache_manager.py
Due: backend

test: add exception handling tests for cache_manager
  tests/test_cache_manager_exceptions.py
Due: none

fix: standardize cache_manager parameters to topic/context (CRITICAL)
  src/madspark/utils/cache_manager.py
  tests/test_cache_manager_exceptions.py
Due: backend

fix: Resolve warm_cache() NameError bug
  src/madspark/utils/cache_manager.py
  tests/test_cache_manager_exceptions.py
Due: backend

fix: correct import paths in cache_manager exception tests
  tests/test_cache_manager_exceptions.py
Due: none

fix: resolve CI failures in cache_manager exception tests
  tests/test_cache_manager_exceptions.py
Due: none

fix: improve test mocking strategy for Redis connection errors
  tests/test_cache_manager_exceptions.py
Due: none

fix: remove incorrect async decorator from synchronous test
  tests/test_cache_manager_exceptions.py
Due: none

fix: properly mock redis client info() method in serialization test
  tests/test_cache_manager_exceptions.py
Due: none

refactor: simplify cache_manager tests to focus on critical functionality
  tests/test_cache_manager_exceptions.py
Due: none

fix: move test_orchestrator_coordinator.py back to src (not a test file)
  src/madspark/core/test_orchestrator_coordinator.py
Due: none

test: align batch processor async-context tests
  src/madspark/utils/batch_processor.py
  tests/test_batch_processor_event_loop.py
Due: backend

docs: add changelog entry for batch processor error
  docs/CHANGELOG.md
Due: none

fix: tighten cache manager exception handling
  src/madspark/utils/cache_manager.py
  tests/test_cache_manager_exceptions.py
Due: backend

Analyze codebase and suggest improvements (#199)
  docs/CHANGELOG.md
  src/madspark/utils/batch_processor.py
  src/madspark/utils/cache_manager.py
  tests/test_batch_processor_event_loop.py
  tests/test_cache_manager_exceptions.py
Due: backend

test: add comprehensive Pydantic schema tests (59 test cases)
  src/madspark/schemas/__init__.py
  src/madspark/schemas/adapters.py
  src/madspark/schemas/base.py
  src/madspark/schemas/evaluation.py
  tests/test_schemas_pydantic.py
Due: backend

feat: update critic.py to use Pydantic schemas
  src/madspark/agents/critic.py
Due: backend
