Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 2%
        paths:
          - "src/"
          - "web/frontend/src/"
    
    patch:
      default:
        target: 80%
        threshold: 2%
    
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

flags:
  backend:
    paths:
      - src/
    carryforward: true
  
  frontend:
    paths:
      - web/frontend/src/
    carryforward: true

ignore:
  - "**/*_test.py"
  - "**/test_*.py"
  - "**/__tests__/**"
  - "**/tests/**"
  - "**/mocks/**"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.test.ts"
  - "**/*.test.tsx"

Fix timeout handling and implement structured output for clean idea generation (#137)
  README.md
  docs/COMMAND_ALIASES.md
  examples/data/bookmarks.json
  src/madspark/agents/idea_generator.py
  src/madspark/agents/structured_idea_generator.py
  src/madspark/cli/cli.py
  src/madspark/utils/constants.py
  tests/test_mad_spark_command.py
  tests/test_structured_idea_generator.py
  tests/test_structured_output.py
  tests/test_structured_output_integration.py
  tests/test_system_integration.py
  tests/test_timeout_functionality.py
Due: backend

feat: add structured output check utility and response field
  src/madspark/utils/structured_output_check.py
  web/backend/main.py
Due: backend

test: add comprehensive tests for structured output support
  web/frontend/src/App.tsx
  web/frontend/src/components/ResultsDisplay.tsx
  web/frontend/src/components/__tests__/ResultsDisplay.structured.test.tsx
  web/frontend/src/types/__tests__/api.types.test.ts
  web/frontend/src/types/api.types.ts
Due: frontend

feat: implement frontend structured JSON support
  tests/test_structured_output_detection.py
Due: none

feat: backend detection and propagation of structured output usage
  tests/test_backend_structured_output_flag.py
  web/backend/main.py
Due: none

feat: implement frontend structured JSON support
  web/backend/main.py
Due: none

test: fix backend structured output test
  tests/test_backend_structured_output_flag.py
  web/frontend/coverage/clover.xml
  web/frontend/coverage/coverage-final.json
  web/frontend/coverage/lcov-report/index.html
  web/frontend/coverage/lcov-report/src/App.tsx.html
  web/frontend/coverage/lcov-report/src/api.ts.html
  web/frontend/coverage/lcov-report/src/components/BookmarkManager.tsx.html
  web/frontend/coverage/lcov-report/src/components/ComparisonRadarChart.tsx.html
  web/frontend/coverage/lcov-report/src/components/DuplicateWarningDialog.tsx.html
  web/frontend/coverage/lcov-report/src/components/IdeaGenerationForm.tsx.html
  web/frontend/coverage/lcov-report/src/components/KeyboardShortcutsDialog.tsx.html
  web/frontend/coverage/lcov-report/src/components/MarkdownRenderer.tsx.html
  web/frontend/coverage/lcov-report/src/components/ProgressIndicator.tsx.html
  web/frontend/coverage/lcov-report/src/components/RadarChart.tsx.html
  web/frontend/coverage/lcov-report/src/components/ResultsDisplay.tsx.html
  web/frontend/coverage/lcov-report/src/components/ScoreComparison.tsx.html
  web/frontend/coverage/lcov-report/src/components/index.html
  web/frontend/coverage/lcov-report/src/constants.ts.html
  web/frontend/coverage/lcov-report/src/hooks/index.html
  web/frontend/coverage/lcov-report/src/hooks/useKeyboardShortcuts.ts.html
  web/frontend/coverage/lcov-report/src/index.html
  web/frontend/coverage/lcov-report/src/index.tsx.html
  web/frontend/coverage/lcov-report/src/services/bookmarkService.ts.html
  web/frontend/coverage/lcov-report/src/services/index.html
  web/frontend/coverage/lcov-report/src/types/api.types.ts.html
  web/frontend/coverage/lcov-report/src/types/bookmark.types.ts.html
  web/frontend/coverage/lcov-report/src/types/hooks.types.ts.html
  web/frontend/coverage/lcov-report/src/types/index.html
  web/frontend/coverage/lcov-report/src/types/utils.types.ts.html
  web/frontend/coverage/lcov-report/src/utils/bookmarkHelpers.ts.html
  web/frontend/coverage/lcov-report/src/utils/errorHandler.ts.html
  web/frontend/coverage/lcov-report/src/utils/ideaCleaner.ts.html
  web/frontend/coverage/lcov-report/src/utils/index.html
  web/frontend/coverage/lcov-report/src/utils/logger.ts.html
  web/frontend/coverage/lcov-report/src/utils/toast.ts.html
  web/frontend/coverage/lcov.info
Due: none

fix: address PR review feedback for structured output
  src/madspark/utils/constants.py
  src/madspark/utils/structured_output_check.py
  tests/test_backend_structured_output_flag.py
  tests/test_structured_output_detection.py
  web/backend/main.py
Due: backend

fix: remove unused imports to fix CI linting errors
  tests/test_backend_structured_output_flag.py
Due: none

fix: update .gitignore to exclude coverage directories
  .gitignore
Due: none

fix: remove duplicate imports in test_structured_output_detection.py
  tests/test_structured_output_detection.py
Due: none

fix: prevent mock mode cache blocking structured output detection
  src/madspark/utils/structured_output_check.py
Due: backend

test: replace empty pass statements with pytest.skip markers
  tests/test_mad_spark_command.py
  tests/test_setup_enhancements.py
Due: none

refactor: extract duplicate structured output response creation
  web/backend/main.py
Due: none

improve: enhance structured output code quality
  src/madspark/utils/structured_output_check.py
  web/frontend/src/App.tsx
Due: backend, frontend

fix: move helper function after class definitions
  web/backend/main.py
Due: none

fix: address PR review feedback
  tests/test_mad_spark_command.py
  tests/test_setup_enhancements.py
  web/backend/main.py
Due: none

refactor: improve structured output code quality (#139)
  src/madspark/utils/structured_output_check.py
  tests/test_mad_spark_command.py
  tests/test_setup_enhancements.py
  web/backend/main.py
  web/frontend/src/App.tsx
Due: backend, frontend

docs: session handover and learnings
  CLAUDE.md
  README.md
Due: none

fix: merge duplicate Session Handover sections
  README.md
Due: none

docs: session handover and learnings (#140)
  CLAUDE.md
  README.md
Due: none

feat: add batch evaluation for multi-dimensional assessment
  src/madspark/core/enhanced_reasoning.py
  tests/test_multi_dimensional_batch.py
Due: backend

feat: implement batch advocate processing
  src/madspark/agents/advocate.py
  tests/test_advocate_batch.py
Due: backend

feat: implement batch skeptic/devil's advocate processing
  src/madspark/agents/skeptic.py
  tests/test_skeptic_batch.py
Due: backend

feat: implement batch idea improvement processing
  src/madspark/agents/idea_generator.py
  tests/test_idea_improvement_batch.py
Due: backend

feat: implement batch-optimized coordinator with 91% API call reduction
  src/madspark/core/coordinator_batch.py
  tests/test_coordinator_batch_integration.py
Due: backend

feat: add comprehensive batch monitoring and error handling
  src/madspark/cli/batch_metrics.py
  src/madspark/core/coordinator_batch.py
  src/madspark/utils/batch_fallback.py
  src/madspark/utils/batch_monitor.py
  tests/test_batch_monitoring.py
Due: backend

feat: add comprehensive token usage monitoring and real API validation
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/core/coordinator_batch.py
  test_batch_2_candidates.py
  test_batch_real_api.py
  test_comprehensive_monitoring.py
  test_token_extraction.py
Due: backend

feat: implement batch API optimization with 50% fewer API calls
  README.md
  docs/BATCH_PROCESSING_GUIDE.md
  examples/data/bookmarks.json
  src/madspark/cli/cli.py
  src/madspark/core/coordinator.py
  tests/test_coordinator_batch.py
  todo.md
Due: backend

fix: resolve batch function tuple returns and import issues
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/cli/batch_metrics.py
  src/madspark/core/async_coordinator.py
  src/madspark/core/coordinator.py
  src/madspark/core/coordinator_batch.py
  src/madspark/utils/batch_fallback.py
  tests/test_advocate_batch.py
  tests/test_batch_monitoring.py
  tests/test_coordinator_batch.py
  tests/test_coordinator_batch_integration.py
  tests/test_coordinators.py
  tests/test_idea_improvement_batch.py
  tests/test_multi_dimensional_batch.py
  tests/test_skeptic_batch.py
Due: backend

fix: update test mock paths and expectations for batch coordinator
  tests/test_batch_monitoring.py
  tests/test_coordinator_batch.py
  tests/test_coordinator_batch_integration.py
  tests/test_integration.py
  tests/test_system_integration.py
Due: none

fix: update batch monitoring test mock path
  tests/test_batch_monitoring.py
Due: none

fix: remove test scripts accidentally committed to repository root
  test_batch_2_candidates.py
  test_batch_real_api.py
  test_comprehensive_monitoring.py
  test_token_extraction.py
Due: none

fix: remove unreachable code in agent batch functions
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
Due: backend

fix: address all PR review feedback
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/core/coordinator_batch.py
  src/madspark/utils/batch_monitor.py
  src/madspark/utils/pricing_config.py
  tests/test_coordinator_mismatch.py
  tests/test_coordinator_parsing.py
  tests/test_coordinator_warnings.py
  tests/test_integration.py
  tests/test_timeout_functionality.py
Due: backend

fix: correct batch function return type annotations and test mocks
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  tests/test_coordinator_batch.py
  tests/test_coordinator_batch_integration.py
  tests/test_coordinators.py
  tests/test_integration.py
Due: backend

fix: skip mock-incompatible tests in mock mode
  examples/data/bookmarks.json
  src/madspark/core/coordinator_batch.py
  tests/test_coordinators.py
Due: backend

fix: update batch tests to handle tuple return values
  src/madspark/agents/advocate.py
  src/madspark/agents/idea_generator.py
  src/madspark/agents/skeptic.py
  src/madspark/utils/batch_monitor.py
  src/madspark/utils/pricing_config.py
  tests/test_advocate_batch.py
  tests/test_idea_improvement_batch.py
  tests/test_skeptic_batch.py
Due: backend
