Repository TheIllusionOfLife/Eureka: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: show 'ms' instead of 'cli' in help usage and examples
  src/madspark/cli/cli.py
Due: backend

docs: add Redis caching documentation to README
  README.md
Due: none

fix: remove unused imports and update test expectations
  tests/test_agents.py
  tests/test_auto_bookmark.py
  tests/test_cli_integration.py
Due: none

test: fix remaining test failures and skip complex tests
  examples/data/bookmarks.json
  tests/test_auto_bookmark.py
  tests/test_cli_integration.py
  tests/test_cli_new_options.py
Due: none

test: skip test requiring virtual environment in CI
  tests/test_cli_integration.py
Due: none

fix: address PR review feedback from multiple reviewers
  run.py
  src/madspark/cli/cli.py
  src/madspark/utils/bookmark_system.py
Due: backend

fix: remove overly aggressive lowercase idea filtering
  src/madspark/core/coordinator.py
Due: backend

fix: prevent NameError in bookmark cleanup when temp_file undefined
  src/madspark/utils/bookmark_system.py
Due: backend

feat: CLI improvements - automatic bookmarking, optional context, and flag passing (#123)
  README.md
  examples/data/bookmarks.json
  run.py
  src/madspark/agents/idea_generator.py
  src/madspark/cli/cli.py
  src/madspark/core/coordinator.py
  src/madspark/utils/bookmark_system.py
  tests/test_agents.py
  tests/test_auto_bookmark.py
  tests/test_auto_mock_mode.py
  tests/test_cli_integration.py
  tests/test_cli_new_options.py
Due: backend

docs: session handover and learnings
  README.md
Due: none

fix: consolidate duplicate Session Handover sections and improve organization
  README.md
Due: none

docs: session handover and learnings (#124)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update setup.sh
  setup.sh
Due: none

test: add failing tests for temperature range and creativity option fixes
  tests/test_temperature_cli_fixes.py
Due: none

fix: update temperature range to 0.0-2.0 and remove --creativity option
  examples/data/bookmarks.json
  src/madspark/cli/cli.py
  src/madspark/utils/temperature_control.py
  tests/test_temperature_cli_fixes.py
Due: backend

docs: update README for temperature-preset option
  README.md
Due: none

fix: address PR review feedback
  README.md
  tests/test_temperature_cli_fixes.py
Due: none

fix: address CI test failures
  tests/test_cli.py
  tests/test_cli_new_options.py
  tests/test_temperature_cli_fixes.py
Due: none

feat: add web interface aliases and improve documentation
  README.md
  examples/data/bookmarks.json
  web/docker-compose.yml
Due: none

fix: remove conflicting keyboard shortcuts from web interface
  README.md
  docs/PROJECT_STATUS.md
  docs/WEB_INTERFACE_GUIDE.md
  web/frontend/src/App.tsx
Due: frontend

fix: make improved idea and multi-dimensional evaluation sections collapsed by default
  web/frontend/src/components/ResultsDisplay.tsx
Due: frontend

fix: address PR review feedback
  web/frontend/src/components/ResultsDisplay.tsx
Due: frontend

fix: make improved idea and multi-dimensional evaluation sections collapsed by default (#128)
  web/frontend/src/components/ResultsDisplay.tsx
Due: frontend

Delete .specstory directory
  .specstory/.gitignore
  .specstory/history/2025-06-05_09-42-count-of-pull-requests-in-the-repo.md
  .specstory/history/2025-06-15_14-50-implement-stagewise-toolbar-in-web-project.md
Due: none

Delete todo.md
  todo.md
Due: none

test: add comprehensive tests for AI-powered MultiDimensionalEvaluator
  tests/test_ai_multidimensional_evaluator.py
Due: none

docs: update README to reflect AI-powered evaluation implementation
  .specstory/.what-is-this.md
  README.md
  examples/data/bookmarks.json
  web/examples/data/bookmarks.json
  web/frontend/coverage/lcov-report/src/utils/bookmarkHelpers.ts.html
Due: none

feat: implement AI-powered MultiDimensionalEvaluator for language-agnostic evaluation
  README.md
  src/madspark/core/coordinator.py
  src/madspark/core/enhanced_reasoning.py
  tests/test_ai_multidimensional_evaluator.py
Due: backend

fix: remove unused MagicMock import
  tests/test_ai_multidimensional_evaluator.py
Due: none

fix: address PR review feedback
  src/madspark/core/enhanced_reasoning.py
  tests/test_ai_multidimensional_evaluator.py
Due: backend

fix: resolve CI test and linting issues
  tests/test_ai_multidimensional_evaluator.py
Due: none

fix: address cursor[bot] review feedback
  src/madspark/core/enhanced_reasoning.py
  tests/test_ai_multidimensional_evaluator.py
Due: backend

docs: session handover and learnings
  CLAUDE.md
  README.md
Due: none

Path conditions:
  backend: any of: src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
  frontend: any of: web/frontend/src/, but not: **/*_test.py, **/test_*.py, **/__tests__/**, **/tests/**, **/mocks/**, **/*.spec.ts, **/*.spec.tsx, **/*.test.ts, **/*.test.tsx
